.autocomplete-wrapper {
  width: 300px;
}

.autocomplete-wrapper .list {
  width: 300px;
  height: 100px;
  overflow: scroll;
  list-style-type: none;
}

.autocomplete-wrapper .list .item.active {
  background-color: #fffedb;
}