:root {
  --autocomplete-container-width: 300px;
}

body {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.autocomplete-wrapper {
  width: var(--autocomplete-container-width);
  box-shadow: 1px 1px 1px 1px #ececec;
  border-radius: 2px;
}

.card-wrapper {
  padding: 0.75em;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
}

.card-wrapper span.highlight {
  color: #639bee;
}

.card-wrapper .card-title {
  font-size: 0.75em;
  font-weight: bold;
  margin: 0;
  color: #40464d;
  text-transform: capitalize;
}

.card-wrapper .card-info {
  font-size: 0.7em;
  margin: 0;
  color: grey;
}

.card-wrapper .card-subtitle {
  font-size: 0.75em;
  color: #4c5259;
  margin-bottom: 0.8em;
  display: block;
  margin-top: 0.3em;
}

.card-wrapper ul.card-items-wrapper {
  list-style: none;
  padding: 0;
  margin: 0.3em 0;
}

.card-wrapper ul.card-items-wrapper li::before {
  content: "\2022"; 
  color: #4a8bf1;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.card-wrapper ul.card-items-wrapper li {
  margin: 0.5em 0;
  font-size: 0.7em;
  color: #4c5259;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0;
}

.autocomplete-wrapper .autocomplete-input-wrapper {
  display: flex;
}

.autocomplete-wrapper input[type="text"] {
  background-color: #f2f3f4;
  border: none;
  border-radius: 2px;
  padding: 1em 0.5em;
  width: var(--autocomplete-container-width);
  font-size: 0.9em;;
}

.autocomplete-wrapper input[type="text"]:focus {
  background-color: white;
  border-bottom: #d0d0d0;
}

.autocomplete-wrapper ul.list {
  width: var(--autocomplete-container-width);
  /* min-height: 150px; */
  max-height: 300px;
  overflow-x: scroll;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.autocomplete-wrapper ul.list .empty-wrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.autocomplete-wrapper ul.list .empty-wrapper p.empty-message {
  text-align: center;
  color: #7a8086;
  font-size: 0.8em;
}

.autocomplete-wrapper .list .item.active {
  background-color: #fffedb;
}

.input-left-icon-wrapper {
  background: transparent;
  position: absolute;
  width: 30px;
  height: 30px;
  /* background: red; */
  display: block;
  /* height: 100px; */
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* background: #f3f3f3; */
}